.navbar {
	background-color: #333;
	position: fixed;
	width: 100%;
	height: 82px;



  }
  
  .navbar a {
	float: right;
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 30px 30px;
	font-size: 20px;
	text-decoration: none;	
	font-family: 'Franklin Gothic Medium';

  }
  
  .navbar a:hover {
	color: orange;



  }
  
  .navbar a.active {
	color: white;

  }

  body{
	margin: 0;
	background-image: url("backround.jpg");


  }


  h1{
	text-align: center;
	font-size: 30px;
	font-family: 'Franklin Gothic Medium';
	display: table;
    margin: 0px auto 0px auto;
    padding: 0px 40px;
    background-color: white;
  }

  h1 span{
	background-color: white;
	
  }